[submodule "auth-microservice"]
	path = auth-microservice
	url = git@github.com:ZeeFleX/restpilot-auth.git
[submodule "graphql-microservice"]
	path = graphql-microservice
	url = git@github.com:ZeeFleX/restpilot-graphql.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = git@github.com:ZeeFleX/restpilot-orders.git
[submodule "frontend-client"]
	path = frontend-client
	url = git@github.com:ZeeFleX/restpilot-frontend-client.git
[submodule "frontend-manager"]
	path = frontend-manager
	url = git@github.com:ZeeFleX/restpilot-frontend-manager.git
[submodule "menu-microservice"]
	path = menu-microservice
	url = git@github.com:ZeeFleX/restpilot-menu.git
